# Исполняемые файлы
server
client

# Объектные файлы
*.o
*.obj

# Библиотеки
*.a
*.so
*.dll
*.dylib

# Отладочные файлы
*.dSYM/
*.su
*.idb
*.pdb

# Логи
*.log

# Временные файлы
*~
*.swp
*.swo
.DS_Store

# IDE
.vscode/
.idea/
*.code-workspace

# Сборочные артефакты
build/
dist/
